<footer class="footer p-4 bg-light shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
  <span class="p-2 text-center font-mono font-semibold leading-tight tracking-tight text-light ">© 2022 <a href="#" class="hover:underline">Maldo</a>. All Rights Reserved.
  </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm text-light dark:text-gray-400 sm:mt-0">
      <li>
          <a href="#" class=" p-2 text-center font-mono font-semibold leading-tight tracking-tight text-light ">About</a>
      </li>
      <li>
          <a href="#" class=" p-2 text-center font-mono font-semibold leading-tight tracking-tight text-light">Privacy Policy</a>
      </li>
      <li>
          <a href="#" class=" p-2 text-center font-mono font-semibold leading-tight tracking-tight text-light">Licensing</a>
      </li>
     
  </ul>
</footer>